:root {
    --main-color: rgb(39, 39, 39);
    --secondary-color: rgb(239, 195, 250);
    --border-size: 0.1em;
    --field-spacing: 1.5em;
    --font: 'Courier New', Courier, monospace;
    --font-size: 2em;
    --table-spacing: 10px var(--field-spacing);
}

body {
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--font);
    font-size: var(--font-size);
}

fieldset {
    border: var(--border-size) dashed var(--secondary-color);
    margin: var(--field-spacing);
    padding: var(--field-spacing);
}

table, tr, td, th {
    border: var(--border-size) dashed var(--secondary-color);
    border-collapse: collapse;
    margin: auto;
    padding: var(--table-spacing);
}